class $Sample$Mod extends ck.MariaModel {
  constructor () {
    const model = ck.mainDb.createModel(`$Sample$`, ck.$sample$Sch.fields, {comment: ck.$sample$Sch.comment})

    super(model)
  }
}

module.exports = new $Sample$Mod()