class $Sample$Ctr {
  async createSample (arg1) {
    return arg1
  }

  async getByIdSample (id, arg1) {
    return arg1
  }

  async getListSample (arg1) {
    return arg1
  }

  async updateByIdSample (id, arg1) {
    return arg1
  }

  async deleteByIdSample (id, arg1) {
    return arg1
  }
}

module.exports = new $Sample$Ctr()