class $Sample$Fak {
  genCreate (data = {}) {
    const _data = _.assign({
    }, data)
    return _data
  }

  async fake (data) {
    const _data = this.genCreate(data)
    return ck.$sample$Mod.create(_data)
  }
}

module.exports =  new $Sample$Fak()