const group = `$sample$`
const groupPath = ck.apiServer.getGroupPath(group)
const router = ck.apiServer.createRouter(groupPath)

router.post(`/postSample`, ck.auth.authRole(), ck.apiServer.genRouteFn(async (req, res) => {
  const args = ck.req.validateRequired(req, [`arg1`])
  const arg1 = args.arg1

  const result = await ck.$sample$Ctr.postSample(req.reqUser, arg1)
  res.suc(result)
}))

router.get(`/getSample`, ck.auth.authRole(), ck.apiServer.genRouteFn(async (req, res) => {
  const args = ck.req.validateRequired(req, [`arg1`])
  const arg1 = args.arg1

  const result = await ck.$sample$Ctr.getSample(req.reqUser, arg1)
  res.suc(result)
}))