describe.skip(`$sample$Ctr`, () => {
  describe(`postSample`, () => {
    it(async () => {
    })
    it(`other case`, async () => {
    })
  })

  describe(`getSample`, () => {
    it(async () => {
    })
    it(`other case`, async () => {
    })
  })
})