class $Sample$Mod extends ck.RedisModel {
  constructor () {
    super(ck.cacheDb.client, `$Sample$`)
  }
}

class $Sample$Mod {
  constructor () {
    this.schema = ck.mongoSchema.createSchema(ck.$sample$Sch.fields)
    this.model = ck.logDb.createModel(`$Sample$`, this.schema)
  }
}

class $Sample$Mod {
  constructor () {
    this.model = ck.mainDb.createModel(`$Sample$`, ck.$sample$Sch.fields)
  }
}

module.exports = new $Sample$Mod()