class $Sample$Mod extends ck.RedisModel {
  constructor () {
    super(ck.cacheDb.client, `$Sample$`)
  }
}

class $Sample$Mod {
  constructor () {
    const model = ck.logDb.createModel(`$Sample$`, ck.$sample$Sch.schema)

    super(model)
  }
}

class $Sample$Mod extends ck.SequelizeModel {
  constructor () {
    const model = ck.mainDb.createModel(`$Sample$`, ck.$sample$Sch.fields)

    super(model)
  }
}

module.exports = new $Sample$Mod()