class $Sample$Mod {
  constructor () {
    this.schema = ck.mongoSchema.createSchema(ck.$sample$Sch.fields)
    this.model = ck.analysisDb.createModel(`$Sample$`, this.schema)
  }
}

module.exports = new CountLoggedUserMod()


class $Sample$Mod {
  constructor () {
    this.model = ck.mainDb.createModel(`$Sample$`, ck.$sample$Sch.fields)
  }
}
module.exports = new $Sample$Mod()