class $Sample$Sch {
  constructor () {
    const db = ck.mainDb
    const Sequelize = db.Sequelize

    const name = `$Sample$Sch`
    const comment = `這是 schema 的說明`
    const fields = {
    }

    this.comment = comment
    this.fields = fields

    ck.apiDoc.outputSchemaDoc({
      name,
      comment,
      fields,
    })
  }
}

module.exports = new $Sample$Sch()