describe.skip(`xxxCtr`, () => {
  describe(`createSample`, () => {
    it(async () => {
    })
    it(`other case`, async () => {
    })
    it(`error case`, async () => {
    })
  })

  describe(`getByIdSample`, () => {
    it(async () => {
    })
    it(`other case`, async () => {
    })
    it(`error case`, async () => {
    })
  })

  describe(`getListSample`, () => {
    it(async () => {
    })
    it(`other case`, async () => {
    })
    it(`error case`, async () => {
    })
  })

  describe(`updateByIdSample`, () => {
    it(async () => {
    })
    it(`other case`, async () => {
    })
    it(`error case`, async () => {
    })
  })

  describe(`deleteByIdSample`, () => {
    it(async () => {
    })
    it(`other case`, async () => {
    })
    it(`error case`, async () => {
    })
  })
})